@import "../static/scss/variables.scss";
@import "../static/scss/mixins.scss";

.timeline {
    &__event {
        display: flex;
        position: relative;
        box-sizing: border-box;
        padding: 10px 30px;
        border-bottom: 1px solid rgba($black, .06);
        color: $grey;
        font-size: 14px;
        line-height: 20px;

        &:last-child {
            border-bottom: none;
        }

        &__group__container {
            margin: 0 0 20px;
            @include status-background-color;

            &:last-child {
                margin: 0;
            }
        }

        &__title {
            padding: 15px 30px;

            @include status-background-color;
        }

        &__icon {
            float: left;
            margin: 0 5px 0 0;
            @include status-icon(small);
        }
    }

    &__time {
        padding: 0 10px 0 0;
        font-weight: 700;

        &:after {
            content: "";
            display: block;
            background: rgba($black, .06);
            width: 20px;
            height: 4px;
            float: right;
            border-radius: 5px;
            margin: 8px 0 0 10px;
            overflow: hidden;
        }
    }

    &__text {
        flex: 1;
    }
}