@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.general-state {
    &__icon {
        @include status-icon(large, true);
        margin: 0 auto 20px;
    }

    .section-title {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}