@import-normalize; // scss-lint:disable Import
@import "../scss/variables.scss";
@import "../scss/helpers.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: darken($white, 4%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.page-wrapper {
    width: 80%;
    max-width: 800px;
    padding: 40px;
    margin: 0 auto;
}

.content-section {
    margin: 0 0 100px;

    &:last-child {
        margin: 0;
    }
}

.section-title {
    color: $grey;
    font-size: 28px;
    line-height: 38px;
    font-weight: normal;
    margin: 0 0 30px;
}