@import-normalize;
@import "../static/scss/variables.sccs";

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: lighten($active, 40%);
}

.page-wrapper {
    width: 80%;
    max-width: 800px;
    padding: 40px;
    margin: 0 auto;
}